<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
<!-- <class name="com.dinamic.v3.test.Registration"/> 
      <class name="com.dinamic.v3.test.EditingCompanyDetails"/>
       <class name="com.dinamic.v3.test.Registration"/> 
       <class name="com.dinamic.v3.test.ServiceCharge"/>-->
       <class name="com.dinamic.v3.test.tescases.OrdersTestCase"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
